.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  height: 300px;
}

.App-header {
  background-color: #030708;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #e8d830;
}
